<template name="cardsetInfoBoxItemAuthor">
    <tr>
        <td>
            {{#if this.shuffled}}
                {{_ "cardset.info.publisher"}}
            {{else}}
                {{_ "cardset.info.author"}}
            {{/if}}:
        </td>
        {{#if isAdmin}}
            <td>
                <a href="{{pathFor 'admin_user' _id=this.owner}}" target="_blank">{{getAuthorName this.owner false}}</a>
            </td>
        {{else}}
            <td>{{getAuthorName this.owner false}}</td>
        {{/if}}
    </tr>
</template>
