<template name="cardsetInfoBoxItemDifficulty">
    {{#unless isShuffledCardset this._id}}
        <tr>
            <td>{{#if gotNotesForDifficultyLevel}}{{_ "difficultyNotes"}}{{else}}{{_
                    "difficulty"}}{{/if}}:
            </td>
            <td>
                {{getDifficultyName}}
            </td>
        </tr>
    {{/unless}}
</template>
