<template name="helpModal">
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog"
         aria-labelledby="helpModalTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-question"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                </div>
                <div class="modal-body">
                    {{#if isActiveRoute regex='presentation|demo|making'}}
                        {{#if isActiveRoute regex='presentationlist|demolist|makinglist'}}
                            {{#if isActiveLanguage 'de'}}
                                {{> helpContentDE}}
                            {{else}}
                                {{> helpContentEN}}
                            {{/if}}
                        {{else}}
                            <h4 id="presentationHelp" class="modal-title">{{_ "presentation.help.title"}}
                            </h4>
                            {{#markdeep}}
                                {{#if isActiveLanguage 'de'}}
                                        {{> helpContentDECategoryPresentation}}
                                {{else}}
                                        {{> helpContentENCategoryPresentation}}
                                {{/if}}
                            {{/markdeep}}
                            <button class="btn btn-raised btn-success btn-block"
                                    id="presentationHelpConfirm">{{_ "presentation.help.button.confirm"}}</button>
                        {{/if}}
                    {{else}}
                        {{#if isActiveRoute 'box'}}
                            <h4 id="leitnerHelp" class="modal-title">{{_ "leitner.help.title"}}
                            </h4>
                            {{#markdeep}}
                                {{#if isActiveLanguage 'de'}}
                                    {{> helpContentDECategoryLeitner}}
                                {{else}}
                                    {{> helpContentENCategoryLeitner}}
                                {{/if}}
                            {{/markdeep}}
                            <button class="btn btn-raised btn-success btn-block"
                                    id="leitnerHelpConfirm">{{_ "leitner.help.button.confirm"}}</button>
                        {{else}}
                            {{#if isActiveRoute 'memo'}}
                                <h4 id="wozniakHelp" class="modal-title">{{_ "wozniak.help.title"}}
                                </h4>
                                {{#markdeep}}
                                    {{#if isActiveLanguage 'de'}}
                                        {{> helpContentDECategoryWozniak}}
                                    {{else}}
                                        {{> helpContentENCategoryWozniak}}
                                    {{/if}}
                                {{/markdeep}}
                                <button class="btn btn-raised btn-success btn-block"
                                        id="wozniakHelpConfirm">{{_ "wozniak.help.button.confirm"}}</button>
                            {{else}}
                                {{#markdeep}}
                                    {{#if isActiveLanguage 'de'}}
                                        {{> helpContentDE}}
                                    {{else}}
                                        {{> helpContentEN}}
                                    {{/if}}
                                {{/markdeep}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
